*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing:border-box;
  box-sizing: border-box;
}

body {
  margin: 100px;
}
.title {
  height: 100px;
  width: 100%;
  color: white;
  font-size: 32px;
  background-color: #33BEBE;
  margin-bottom: 50px;

}

h1{
  font-size: 32px;
  margin-left: 10px;
  padding-top: 50px;
}
.app {
  display: -webkit-flex;
  display: flex;
}

img{
  height: 400px;
  width: 500px;
}
.description{
  padding-left:50px;
  color: #7C8B88;
  font-size:20px;
}